.ipDetails__container {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 125%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
}

@media screen and (min-width: $tablet) {
    .ipDetails__container {
        top: 100%;
    }
}

.ipDetails__details {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
    display: flex;
    flex-direction: column;
    height: 294px;
    justify-content: space-between;
    margin: 0 35px 0 23px;
    padding: 26px 24px 24px 24px;
    position: relative;
    width: 1100px;
}

@media screen and (min-width: $tablet) {
    .ipDetails__details {
        flex-direction: row;
        height: 161px; 
        padding: 37px 32px;
        width: 900px;
    }
}

@media screen and (min-width: $desktop) {
    .ipDetails__details {
        width: 1100px;
    }
}


.ipDetails__detail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0 22px 0;
    p {
        color: #2C2C2C;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 1.75px;
        margin-bottom: 7px;
        opacity: 0.5;
        padding: 0;
    }
    span {
        color: #2C2C2C;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.232143px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: $tablet) {
    .ipDetails__detail {
        display: block;
        height: 100%;
        margin-right: 32.5px;
        width: 245.2px;
        p {
            font-size: 12px;
            margin-bottom: 13px;
        }
        span {
            font-size: 26px;
        }
    }
}

.ipDetails__address,
.ipDetails__location, 
.ipDetails__timezone {
    border-right: none;
}

@media screen and (min-width: $tablet) {
    .ipDetails__address,
    .ipDetails__location, 
    .ipDetails__timezone {
        border-right: 1px solid rgba(0, 0, 0, .15);
        height: 75px;
    }
}


