.leaflet-container {
  height: 100vh;
  width: 99.5vw;
}

@media screen and (min-width: $tablet) {
  .leaflet-container {
    width: 99.9vw;
  }
}

.mapView__container {
  flex: 1;
  position: absolute;
  top: 100%;
  z-index: 2;
}
